table {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
  }

  .heading {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    
    }
  
  .light-cell {
    background: rgb(251, 197, 146);
    width: 60px;
    height: 60px;
  }
  
  .dark-cell {
    background: rgb(199, 110, 1);
    width: 60px;
    height: 60px;
  }
  
  .selected {
    background: rgb(255, 91, 58);
  }
  
  .possible-move {
    background: rgb(244, 126, 53);
  }
